// Airbnb color pallets from Google color pallet
/* COLORS */
$defaultColor: #FF5A5F;
$secondColor: #00A699;
$thirdColor: #FC642D;
$forthColor: #484848;
$fifthColor: #767676;

/* BORDER RADIUS*/
$borderRadius: 5px solid black;
